body {
    font-family: Arial, sans-serif;
    background-color: #f5e9d5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #396b4e; 
    padding: 70px; 
    border-radius: 10px;
    width: 450px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: black;
    text-align: left; 
}

label {
    display: block;
    margin: 2px;
    color: black;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

textarea {
    resize: vertical; 
    margin-top: 10px;
    min-height: 80px; 
    max-width: 100%; 
    overflow: auto; 
}

button {
    background-color: black;
    color: white;
    padding: 8px 16px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left; 
    margin-top: 10px;
}

button:hover {
    background-color: #333;
}
