.dekstop-ilab {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dekstop-ilab .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.dekstop-ilab .overlap {
  position: absolute;
  width: 1552px;
  height: 100px;
  top: 0;
  left: 23px;
  background-color: #ffffff;
}

.dekstop-ilab .navbar {
  position: absolute;
  width: 704px;
  height: 39px;
  top: 38px;
  left: 606px;
}

.dekstop-ilab .text-wrapper {
  width: 110px;
  top: 2px;
  left: 327px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  color: #000000;
  font-size: 18.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.5px;
}


.dekstop-ilab .text-wrapper-2 {
  width: 145px;
  top: 2px;
  left: 393px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  color: #000000;
  font-size: 18.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.5px;
}

.dekstop-ilab .text-wrapper-3 {
  top: 2px;
  left: 477px;
  color: #000000;
  position: absolute;
  width: 146px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 18.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.5px;
}

.dekstop-ilab .text-wrapper-4 {
  width: 98px;
  top: 2px;
  left: 590px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  position: absolute;
  color: #000000;
  font-size: 18.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.5px;
}

.dekstop-ilab .text-wrapper-5 {
  width: 143px;
  top: 2px;
  left: 224px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  color: #000000;
  font-size: 18.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.5px;
}

.dekstop-ilab .text-wrapper-6 {
  width: 162px;
  top: 1px;
  left: 94px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  color: #000000;
  font-size: 18.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.5px;
}

.dekstop-ilab .text-wrapper-7 {
  top: 1px;
  left: 0;
  color: #000000;
  position: absolute;
  width: 146px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 18.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.5px;
}

.dekstop-ilab .ic-baseline-expand {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 576px;
}

.dekstop-ilab .rectangle {
  width: 138px;
  height: 65px;
  top: 17px;
  left: 118px;
  position: absolute;
  object-fit: cover;
}

.dekstop-ilab .overlap-group {
  position: absolute;
  width: 1440px;
  height: 923px;
  top: 101px;
  left: 0;
  background-image: url(background.png);
  background-size: cover;
  background-position: 50% 50%;
}

.dekstop-ilab .welcome-to {
  position: absolute;
  width: 922px;
  top: 156px;
  left: 122px;
  font-family: "Inria Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 49.2px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop-ilab .span {
  font-family: "Inria Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
}

.dekstop-ilab .text-wrapper-8 {
  font-size: 59.1px;
}

.dekstop-ilab .overlap-2 {
  position: absolute;
  width: 1186px;
  height: 545px;
  top: 378px;
  left: 119px;
  background-color: #ffffff;
  border-radius: 36.92px;
}

.dekstop-ilab .text-wrapper-9 {
  position: absolute;
  top: 63px;
  left: 455px;
  font-family: "Inria Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dekstop-ilab .overlap-3 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 201px;
  left: 82px;
  background-size: 100% 100%;
  background-color: white;
  border-radius: 20px;
}

.dekstop-ilab .upgrading-assistant {
  position: absolute;
  width: 177px;
  top: 144px;
  left: 18px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14.8px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop-ilab .text-wrapper-10 {
  position: absolute;
  top: 235px;
  left: 22px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: rgb(215, 54, 54);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dekstop-ilab .img {
  position: absolute;
  width: 219px;
  height: 138px;
  top: 0;
  object-fit: cover;
}

.dekstop-ilab .overlap-4 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 201px;
  left: 352px;
  background-size: 100% 100%;
  background-color: #ffffff;
  border-radius: 20px;
}

.dekstop-ilab .text-wrapper-11 {
  position: absolute;
  top: 144px;
  left: 22px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14.8px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop-ilab .text-wrapper-12 {
  position: absolute;
  top: 174px;
  left: 22px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14.8px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop-ilab .overlap-5 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 201px;
  left: 630px;
  background-size: 100% 100%;
  background-color: #ffffff;
  border-radius: 20px;
}

.dekstop-ilab .text-wrapper-13 {
  position: absolute;
  top: 144px;
  left: 16px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14.8px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop-ilab .text-wrapper-14 {
  position: absolute;
  top: 176px;
  left: 16px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dekstop-ilab .text-wrapper-15 {
  top: 235px;
  left: 18px;
  position: absolute;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: rgb(215, 54, 54);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* .dekstop-ilab .img-2 {
    width: 212px;
    height: 137px;
    left: 3px;
    position: absolute;
    top: 0;
    object-fit: cover;
  } */

.dekstop-ilab .overlap-6 {
  position: absolute;
  width: 220px;
  height: 284px;
  top: 201px;
  left: 898px;
  background-size: 100% 100%;
  background-color: #ffffff;
  border-radius: 20px;
}

.dekstop-ilab .text-wrapper-16 {
  position: absolute;
  top: 148px;
  left: 27px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14.8px;
  letter-spacing: 0;
  line-height: normal;
}

.dekstop-ilab .text-wrapper-17 {
  position: absolute;
  top: 176px;
  left: 27px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dekstop-ilab .text-wrapper-18 {
  top: 238px;
  left: 27px;
  position: absolute;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: rgb(215, 54, 54);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dekstop-ilab .overlap-3,
.dekstop-ilab .overlap-4,
.dekstop-ilab .overlap-5,
.dekstop-ilab .overlap-6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 220px;
  height: 284px;
  object-fit: cover;
}

.dekstop-ilab .text-wrapper:hover,
.dekstop-ilab .text-wrapper-2:hover,
.dekstop-ilab .text-wrapper-3:hover,
.dekstop-ilab .text-wrapper-4:hover,
.dekstop-ilab .text-wrapper-5:hover,
.dekstop-ilab .text-wrapper-6:hover,
.dekstop-ilab .text-wrapper-7:hover {
  color: #e31919; 
  cursor: pointer;
}