* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 3rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* :root {
    --main-color: #323A82;

} */

section {
    padding: 90px 10%;
}

/* *::selection {
    color: #fff;
    background: var(--main-color);
} */

img {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #36B5DE;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
}

.navbar a {
    font-size: 1rem;
    padding: 11px 20px;
    color: #323A82;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 11px 20px;
    color: #323A82;
    font-weight: 600;
    text-transform: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover {
    color: #fff;
    background-color: #0738a1;
    border-radius: 20px;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    justify-content: space-between;
    gap: 1rem;
}

.home-text {
    flex: 1 1 17rem;
}

.home-text h1 {
    font-size: 2rem;
    color: #323A82;
    font-weight: bolder;
}

.home-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.home-text .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #0738a1;
    border-radius: 5px;
    border: 1px solid;
    font-weight: 600;
    text-transform: none;
    transition: background-color 0.3s ease;
}

.home-text .btn:hover {
    background-color: #0738a1;
    color: #fff;
}


.home-img img {
    width: 80%;
    max-width: 400px; 
    height: auto; 
}

.home-img {
    flex: 1 1 17rem;
    display: flex;
    justify-content: flex-end;
}

.product {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    background: #36B5DE;
    padding: 80px 0; 
    padding-top: 50px; 
}

.product-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #000;
    margin-bottom: 90px;
    position: relative;
    top: 0; 
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; 
    max-width: 1400px; 
    width: 100%;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 295px; 
    height: 420px;
    display: flex;
    flex-direction: column;
   
}




.product-card img {
    width: 100%;
    height: 220px; 
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.product-info {
    padding: 20px; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h3 {
    color: #000;
    font-size: 1.4rem; 
    margin-bottom: 10px;
}



.product-link:hover {
    display: block;
    padding: 10px 20px;
    background-color: #3B82F6; 
    color: #fff; 
    border-radius: 25px; 
    text-align: center;
    text-decoration: none; 
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px; 
    margin-left: 0; 
    width:fit-content; 
}

.product-info p {
    color: #666c76;
    font-size: 1.1rem; 
    margin-bottom: 15px;
}

.product-link {
    color: #323A82;
    font-weight: bold;
    text-decoration: none;
}

.product-link:hover {
    color: #0738a1;
}

.footer {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    background-color: #ffff;
    padding: 60px 10%; 
}

.footer-container {
    flex: 0 0 auto; 
    margin-right: 40px; 
    text-align: left;
}

.footer-container:last-child {
    margin-right: 0; 
}

.footer-container h4 {
    color: #000;
    margin-bottom: 1.2rem;
    font-size: 18px; 
}

.footer-container li {
    margin-bottom: 12px; 
}

.footer-container li a {
    color: #000;
    font-size: 14px; 
    font-weight: normal;
}

.footer-container p {
    color: #000;
    font-size: 14px;
    margin: 20px 0;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.footer-container img {
    width: 130px; 
}
